/* FileList.css */

.file-list-container {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .file-item {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
  }
  
  .file-details {
    display: flex;
    align-items: center;
    background-color: white;
  }
  
  .file-actions {
    display: flex;
    gap: 10px;
    background-color: white;
  }
  
  